{% extends 'shop/layouts/main.html' %}
{% block title %}
  Cart | STSmart
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">Cart Items</h4>
        <hr style="border-color:#b8bfc2;">
      </div>
      
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
          <tr>
            <td><img src="{{ item.product.product_image.url }}" height="75px" alt="{{ item.product.name }}"></td>
            <td><a href="{% url 'product_details' item.product.subcategory.name item.product.name %}">{{ item.product.name }}</a></td>
            <td>${{ item.product.selling_price | stringformat:'d' }}</td>
            <td>{{ item.product_qty }}</td>
            <td class="amt">${{ item.total_cost | stringformat:'d' }}</td>
            <td>
              <a href="{% url 'remove_cart' item.id %}" onclick="return confirm('Are you sure to remove this item?')" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i> Remove
              </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4" class="text-end"><b>Total Amount</b></td>
            <th id="net">Rs: {{ total_amount | stringformat:'d' }}</th>
            <td>
              <a class="btn btn-primary btn-sm" href="{% url 'payment' %}">
                <i class="fa fa-check-circle"></i> Check Out
                
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}
